body {
    box-sizing: border-box;
    background-color: black;
}

.img-logo {
    height: auto;
    width: 120px;
}

.container {
    display: flex;
    max-width: 1400px;
    margin: 40px auto; /* auto margin centrerer containeren på siden */

}